<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Vodafone Fiji Short Code Directory</name>
    <description>
        Short Codes Fiji.
    </description>
    <author email="tanshul.kumar@vodafone.com" href="http://vodafone.com/">
        Vodafone Fiji
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
