<view title="'Need Help?'">
    <header class="bar bar-header bar-dark">
      <a ng-href="#/directory/add"  class="button icon-left ion-ios7-arrow-left"></a>
      <h1 class="title">Faqs</h1>  
      <a class="button icon ion-home" ng-href="#/directory"></a>
    </header>

    <content has-footer="true" scroll="true" class="has-header">
		<div class="list">

		  <div class="item item-divider item-text-wrap">
		    Frequently Asked Question 1? Frequently Asked Question 1?

		  </div>

		  <div class="item item-text-wrap">
		    <p>The answer to this question lies deep within you, awaken you inner soul to find the answers ;)</p>
		  </div>

		  <div class="item item-divider item-text-wrap">
		    What time is lunch?
		  </div>

		  <div class="item item-text-wrap">
		    <p>Lunch is served.</p>
		  </div>

		  <div class="item item-divider item-text-wrap">
		    What time is dinner?
		  </div>

		  <div class="item item-text-wrap">
		    <p>No dinner for you!!!.</p>
		  </div>

		</div>
    </content> 

    <footer class="bar bar-footer bar-dark">
      <div class="title">
        A Vodafone Fiji service.              
      </div>        
    </footer> 

</view>


