<view title="">
    <header class="bar bar-header bar-dark">
      <button ng-click="toggleProjects()" class="button icon-left ion-navicon"  ></button>
      <h1 class="title">{{getTitle()}} Short Codes</h1>  
      <button class="button icon ion-search" ng-click="showSearch = !showSearch"></button>
    </header>

    <div class="bar bar-subheader item-input-inset" ng-show="!showSearch">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <!--button class="button button-clear" ng-click="search()">Search</button-->
    </div>

    <content has-footer="true" scroll="true" class="has-subheader">
    
       <div class="list">
        <a  href="tel:*131#" class="item item-icon-left item-icon-right">  
          <i class="icon ion-ios7-telephone-outline" style="color:green"></i>        
          <h2>Account Balance</h2>
          <p>*131#</p>
         </a>
        <a ng-repeat="item in items | filter:searchKey" href="tel:{{item.scode}}" class="item item-icon-left item-icon-right">  
          <i class="icon ion-ios7-telephone-outline" style="color:green"></i>        
          <h2>{{ item.name }}</h2>
          <p>{{ item.scode }}</p>
         </a>
      </div>
    </content>  

    <footer class="bar bar-footer bar-dark">
      <div class="title">
        <a href="#/directory/add" class="button button-clear"><i class="icon ion-ios7-plus-outline"></i> Get Listed</a><br/>         
      </div> 
    </footer> 
</view>
